@media (max-width: 1170px) {
  .grid-gallery {
    &__images {
      height: 475px;
    }
  }
  .grid-gallery__images:nth-child(13) {
    height: 964px;
  }
  .header-about {
    margin-bottom: 80px;
  }
  .about-info {
    &__inner {
      padding: 0 80px;
      gap: 30px;
      margin-bottom: 80px;
    }
    &__content {
      flex-basis: 495px;
    }
  }
  .container--portfolio {
    padding: 0 80px;
  }

  .portfolio {
    gap: 12px 12px;
  }
  .portfolio__item {
    max-width: 328px;
    height: 256px;
    &:nth-child(1) {
      height: 370px;
    }
    &:nth-child(3) {
      height: 638px;
    }
    &:nth-child(4) {
      height: 370px;
      h1 {
        width: 276px;
      }
    }
  }
  .breadcrumbs {
    margin-bottom: 37px;
  }
  .grid-content {
    padding-bottom: 100px;
    &__images {
      width: 100%;
      height: 380px;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &__content {
      margin-left: 40px;
      h1 {
        max-width: 569px;
        font-size: 40px;
        line-height: 49px;
      }
      p {
        font-size: 28px;
        line-height: 35px;
      }
    }
    &__top--index {
      width: calc(100% - 90px);
      margin-left: 40px;
    }
  }
  .header-about {
    &__content {
      right: 55px;
      bottom: 28px;
      font-size: 36px;
      line-height: 43px;
    }
  }
  .about-info {
    &__content {
      flex-basis: 426px;
    }
  }
  .about-info {
    font-size: 16px;
    line-height: 20px;
    &__img {
      width: 353px;
      height: 436px;
    }
    &__contact {
      padding: 32px 0;
    }
    &__sub-title {
      margin-bottom: 29px;
    }
  }
  .portfolio__item {
    max-width: 280px;
    height: 246px;
    &:nth-child(1) {
      height: 318px;
      h1 {
        width: 174px;
      }
    }
    &:nth-child(2) {
      h1 {
        width: 112px;
      }
    }

    &:nth-child(3) {
      grid-row: span 3;
      height: 576px;
      h1 {
        width: 214px;
      }
    }
    &:nth-child(4) {
      grid-row: span 2;
      height: 318px;
      h1 {
        width: 236px;
      }
    }
    &:nth-child(5) {
      h1 {
        width: 196px;
      }
    }
  }
  .grid-content {
    &__images {
      width: 100%;
      height: 325px;
    }
  }
  .fotorama {
    &__stage {
      max-height: 509px !important;
      margin-bottom: 13px;
    }
    &__nav__shaft {
      gap: 12px;
    }
    &__arr--prev {
      left: -77px;
    }
    &__arr--next {
      right: -77px;
    }
    &__fullscreen-icon {
      top: -35px;
      right: 18%;
    }
  }
  .pogination {
    bottom: 135px;
    left: 0;
  }
}

@media (max-width: 840px) {
  .container--portfolio {
    padding: 0 40px;
  }
  .grid-gallery {
    margin-bottom: 40px;
    &__images {
      height: 354px;
    }
  }
  .grid-gallery__images:nth-child(13) {
    height: 720px;
  }
  .header--index {
    margin-bottom: 40px;
  }
  .btn-inner {
    padding-bottom: 80px;
  }
  .social {
    gap: 28px;
    &__item {
      width: 36px;
      height: 36px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
  .nav {
    font-size: 16px;
    line-height: 19px;
    ul {
      gap: 68px;
    }
  }
  .about-info {
    &__inner {
      padding: 0 40px 0 37px;
      margin-bottom: 40px;
    }
    &__content {
      flex-basis: 367px;
    }
    &__list {
      padding: 15px 12px !important;
    }
  }
  .header-about {
    margin-bottom: 40px;
  }
  .about-info {
    font-size: 14px;
    letter-spacing: 0.98px;
    &__img {
      width: 301px;
      height: 444px;
    }
    &__title {
      font-size: 28px;
      line-height: 34px;
    }
    &__sub-title {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 24px;
    }
    &__link {
      margin-bottom: 17px;
    }
    &__social-item {
      width: 36px;
      height: 36px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
  .portfolio-wrap {
    h1 {
      font-size: 36px;
      line-height: 43px;
    }
  }
  .portfolio__item {
    max-width: 238px;
    height: 200px;

    &:nth-child(1) {
      height: 290px;
      h1 {
        width: 149px;
      }
    }
    &:nth-child(2) {
      h1 {
        width: 96px;
      }
    }

    &:nth-child(3) {
      height: 503px;
      h1 {
        width: 183px;
      }
    }
    &:nth-child(4) {
      height: 291px;
      h1 {
        width: 200px;
      }
    }
    &:nth-child(5) {
      h1 {
        width: 181px;
      }
    }
  }
  .grid-content {
    padding-bottom: 80px;
    &__images {
      width: 100%;
      height: 285px;
    }
  }
  .fotorama {
    &__stage {
      max-height: 463px !important;
      margin-bottom: 17px;
    }
    &__nav__shaft {
      gap: 12px;
    }
    &__arr--prev {
      left: -77px;
    }
    &__arr--next {
      right: -77px;
    }
    &__fullscreen-icon {
      top: -35px;
      right: 13%;
    }
  }
  .pogination {
    bottom: 128px;
  }
}

@media (max-width: 670px) {
  .container--portfolio {
    padding: 0 20px;
  }
  .header {
    &__content {
      margin-left: 20px;
    }
    &__top--index {
      width: calc(100% - 40px);
      margin-left: 20px;
    }
  }
  .header-about {
    &__content {
      right: 25px;
      bottom: 20px;
    }
  }
  .about-info {
    &__inner {
      padding: 0 20px;
      gap: 12px;
    }
    &__content {
      flex-basis: 295px;
    }
  }
  .about-info {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.77px;
    &__img {
      width: 193px;
      height: 349px;
    }
  }
  .portfolio-wrap {
    h1 {
      font-size: 28px;
      line-height: 34px;
    }
  }

  .portfolio__item {
    height: 160px;
    &:nth-child(1) {
      height: 320px;
      h1 {
        width: 119px;
      }
    }
    &:nth-child(2) {
      h1 {
        width: 82px;
      }
    }

    &:nth-child(3) {
      height: 492px;
      h1 {
        width: 139px;
      }
    }
    &:nth-child(4) {
      height: 320px;
      h1 {
        width: 135px;
      }
    }
    &:nth-child(5) {
      h1 {
        width: 135px;
      }
    }
  }
  .grid-content {
    grid-gap: 5px 5px;
  }
}

@media (max-width: 540px) {
  .header {
    &__content {
      bottom: 60px;
      h1 {
        max-width: 360px;
        font-size: 32px;
        line-height: 39px;
      }
      p {
        font-size: 20px;
        line-height: 25px;
      }
    }
    &__top {
      padding: 21px 0 0;
    }
  }
  .nav {
    font-size: 14px;
    line-height: 17px;
    ul {
      gap: 40px;
    }
  }
  .social {
    gap: 20px;
    &__item {
      width: 32px;
      height: 32px;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
  .header__slider-images {
    img {
      height: 100vh;
      width: 100%;
    }
  }
  .ar {
    bottom: 5px;
  }
  .grid-gallery {
    grid-gap: 10px 10px;
    &__images {
      height: 280px;
    }
  }
  .grid-gallery__images:nth-child(13) {
    height: 572px;
  }
  .header--index {
    margin-bottom: 24px;
  }
  .btn-inner {
    padding-bottom: 62px;
  }
  .header-about {
    &__content {
      font-size: 24px;
      line-height: 29px;
    }
  }
  .about-info {
    &__contact {
      padding: 20px 0;
    }
    &__title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 16px;
    }
    &__sub-title {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 25px;
    }
    &__link {
      margin-bottom: 12px;
      img {
        width: 20px;
        height: 16px;
      }
    }
    &__social-item {
      width: 24px;
      height: 24px;
      img {
        width: 12px;
        height: 12px;
      }
    }
  }
  .portfolio {
    gap: 8px 8px;
    padding-bottom: 0;
  }
  .breadcrumbs {
    margin-bottom: 40px;
    &__inner {
      font-size: 12px;
      line-height: 15px;
      svg {
        width: 10px;
        height: 14px;
      }
    }
  }
  .grid-content {
    padding-bottom: 60px;
    &__images {
      width: 100%;
      height: 205px;
    }
  }
  .modal-fotorama {
    padding: 20px 0 20px 0;
  }
  .fotorama {
    &__wrap {
      padding-top: 135px;
    }
    &__stage {
      max-height: 640px !important;
      margin-bottom: 40px;
      margin: 0 auto;
      img {
        max-width: 398px !important;
        max-height: 640px !important;
        object-fit: cover;
        margin: 0 auto;
        height: 100% !important;
      }
    }
    &__nav {
      margin-top: 40px;
    }
    &__arr--prev {
      left: -7px;
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
    }
    &__arr--next {
      right: -7px;
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
    }
    &__fullscreen-icon {
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
      top: -35px;
      right: 7%;
    }
  }
  .pogination {
    font-size: 16px;
    bottom: 83px;
    left: 1px;
  }
  .link,
  .close {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    &:hover {
      background-size: 24px 24px;
    }
  }
}

@media (max-width: 480px) {
  .container--portfolio {
    padding: 0 10px;
  }
  .header {
    &__slider {
      display: none;
    }
    &__slider--mobail {
      display: block;
    }
  }
  .about-info {
    &__img {
      display: none;
    }
    &__content {
      flex-basis: 100%;
    }
  }
  .portfolio-wrap {
    h1 {
      font-size: 16px;
      line-height: 19px;
    }
  }

  .portfolio__item {
    max-width: 140px;
    height: 176px;
    &:nth-child(1) {
      height: 268px;
      h1 {
        width: 93px;
      }
    }
    &:nth-child(2) {
      h1 {
        width: 94px;
      }
    }

    &:nth-child(3) {
      height: 448px;
      h1 {
        width: 93px;
      }
    }
    &:nth-child(4) {
      height: 268px;
      h1 {
        width: 94px;
      }
    }
    &:nth-child(5) {
      h1 {
        width: 94px;
      }
    }
  }
  .fotorama {
    &__wrap {
      padding-top: 110px;
    }
    &__stage {
      max-height: 620px !important;
      img {
        max-width: 320px !important;
        max-height: 620px !important;
        height: 100% !important;
      }
    }
    &__fullscreen-icon {
      top: 15px;
      right: 40px;
    }
  }
  .link,
  .close {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    &:hover {
      background-size: 24px 24px;
    }
  }
}
@media (max-width: 400px) {
  .container--portfolio {
    padding: 0 16px;
  }
  .header {
    &__content {
      h1 {
        max-width: 288px;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 8px;
      }
      p {
        line-height: 24px;
      }
    }

    &__top {
      padding: 16px 0 0;
      justify-content: end;
    }
  }
  .social {
    gap: 18px;
    &__item {
      width: 24px;
      height: 24px;
      img {
        width: 12px;
        height: 12px;
      }
    }
  }
  .nav {
    display: none;
  }
  .menu-wrapper,
  .menu-wrapper--portfolio,
  .wrap-menu {
    display: block;
  }
  .grid-gallery {
    grid-gap: 4px 4px;
    &__images {
      height: 160px;
    }
  }
  .grid-gallery__images:nth-child(13) {
    height: 324px;
  }
  .header--index {
    margin-bottom: 20px;
  }
  .btn-inner {
    padding-bottom: 48px;
  }
  .btn {
    font-size: 20px;
    padding: 6px 120px;
  }
  .header-about {
    &__content {
      bottom: 10px;
      font-size: 24px;
      line-height: 29px;
    }
  }
  .about-info {
    &__inner {
      padding: 0 16px;
    }
  }
  .about-info {
    &__contact {
      padding: 16px 0;
    }
    &__title {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 8px;
    }
    &__sub-title {
      margin-bottom: 24px;
      text-align: center;
    }
    &__link {
      margin-bottom: 8px;
    }
    &__social {
      gap: 20px;
    }
    &__social-item {
      width: 24px;
      height: 24px;
      img {
        width: 12px;
        height: 12px;
      }
    }
  }
  .portfolio {
    gap: 4px 4px;
  }

  .header--client {
    margin-bottom: 16px;
  }
  .breadcrumbs {
    margin-bottom: 24px;
  }
  .grid-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 40px;
    &__images {
      width: 100%;
      height: 208px;
    }
  }
  .fotorama {
    &__wrap {
      padding-top: 0;
    }
    &__nav__shaft {
      gap: 4px;
    }
    &__stage {
      max-height: 450px !important;
      img {
        max-width: 230px !important;
        max-height: 450px !important;
        height: 100% !important;
      }
    }
    &__arr--prev {
      display: none !important;
    }
    &__arr--next {
      display: none !important;
    }
    &__fullscreen-icon {
      top: 70px;
      right: 40px;
    }
  }
  .pogination {
    font-size: 12px;
    bottom: 60px;
  }
}

// @media (max-height: 900px) {
//   .modal-fotorama {
//     padding: 0;
//   }
//   .close,
//   .link {
//     top: 18px;
//   }
//   .fotorama {
//     &__stage {
//       height: 620px !important;
//       margin-bottom: 13px;
//     }
//   }
// }
