$default: #ffff;
$acsent: #2a2a2a;
$hover: #3d3d3d;
$active: #2b2b2b;

%btn {
  padding: 12px 120px;
  background-color: transparent;
  border: 2px solid #000000;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: $acsent;
  cursor: pointer;
  transition: all 0.7s;
  &:hover {
    background-color: $hover;
    color: $default;
    transition: all 0.7s;
  }
  &:active {
    background-color: $active;
    color: default;
  }
}
