@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
  display: block;
  margin-bottom: 48px;
  position: relative;
  &__top {
    z-index: 2;
    color: $acsent;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 56px 0 0;
  }
  &__top--index {
    width: calc(100% - 200px);
    margin-left: 100px;
    position: absolute;
    top: 0;
  }
  &__content {
    margin: 0 auto;
    position: absolute;
    bottom: 116px;
    margin-left: 100px;
    h1 {
      max-width: 505px;
      font-weight: 600;
      font-size: 48px;
      line-height: 59px;
      margin-bottom: 20px;
    }
    p {
      font-weight: 400;
      font-size: 32px;
      line-height: 39px;
    }
  }
  &__slider--mobail {
    display: none;
  }
}

.menu-mobail {
  opacity: 0;
  position: fixed;
  background-color: $default;
  width: 100%;
  height: 100vh;
  top: 0;
  padding: 88px 20px 60px 20px;
  z-index: -9999;
}

.menu-mobail--active {
  opacity: 1;
  color: #171717;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.social-mobail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header--index {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 60px;
}

.container--portfolio {
  padding: 0 100px;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
}

.header--client {
  margin-bottom: 21px;
}

.header__slider-images {
  overflow: hidden;
  height: 100vh;
  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

.header__slider-img {
  display: none;
}

.header-about {
  width: 100%;
  position: relative;
  margin-bottom: 128px;
  &__images {
    position: relative;
    width: 100%;
  }
  &__img {
    position: relative;
    width: 100%;
  }
  &__content {
    position: absolute;
    bottom: 60px;
    right: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
    z-index: 1;
  }
}
.bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
}

.nav {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  ul {
    display: flex;
    align-items: center;
    gap: 68px;
    li {
      border-bottom: 1px solid transparent;
      cursor: pointer;
      padding-bottom: 8px;
    }
  }
}

.nav-inner--mobail {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.nav-item {
  border-bottom: 1px solid transparent;
  width: fit-content;
  padding: 8px 0;
  width: fit-content;

  &__link {
    color: $acsent;
  }
  &__link--index {
    color: #ffffff;
  }
  &:after {
    display: block;
    content: '';
    border-bottom: 1px solid $acsent;
    transform: scaleX(0);
    transition: transform 350ms ease-in-out;
  }
  &:hover:after {
    transform: scaleX(1);
  }
}
.nav-item--index:after {
  border-bottom: 1px solid $default;
}

.nav-item--mobail {
  opacity: 0;
  transform: translateX(-200%);
  transition: opacity 0.5s 0.1s, transform 0.5s 0.1s;
  &:nth-child(2) {
    transition: opacity 0.5s 0.3s, transform 0.5s 0.3s;
  }
  &:nth-child(3) {
    transition: opacity 0.5s 0.4s, transform 0.5s 0.4s;
  }
  &:nth-child(3) {
    transition: opacity 0.5s 0.5s, transform 0.5s 0.5s;
  }
}

.nav-item--active {
  border-bottom: 1px solid $acsent !important;
  width: fit-content;
  &:hover:after {
    transform: scaleX(0);
  }
}

.nav-item-index--active {
  border-bottom: 1px solid $default !important;
  width: fit-content;
  &:hover:after {
    transform: scaleX(0);
  }
}

.menu__item--active {
  opacity: 1;
  transform: translateX(0);
  transition: all 2s;
  transition: opacity 0.5s 0.2s, transform 0.5s 0.2s;
}

.social {
  display: flex;
  align-items: center;
  gap: 28px;
  &__item {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(23, 23, 23, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s;
    &:hover {
      cursor: pointer;
      background-color: $acsent;
      transition: all 0.7s;
    }
  }
}

.social-about {
  width: 60px;
  height: 60px;
}

.grid-gallery {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px 12px;
  margin-bottom: 80px;
  &__images {
    position: relative;
    height: 600px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.grid-gallery__images:nth-child(5) {
  grid-column: span 2;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
.grid-gallery__images:nth-child(9) {
  grid-column: span 2;
  width: 100%;
  img {
    width: 100%;
  }
}
.grid-gallery__images:nth-child(11) {
  grid-column: span 3;
  width: 100%;
  img {
    width: 100%;
  }
}
.grid-gallery__images:nth-child(13) {
  grid-column: span 2;
  grid-row: span 2;
  width: 100%;
  height: 1216px;
  img {
    width: 100%;
  }
}
.grid-gallery__images:nth-child(15) {
  grid-column: span 2;
  width: 100%;
  img {
    width: 100%;
  }
}
.grid-gallery__images:nth-child(20) {
  grid-column: span 3;
  width: 100%;
  img {
    width: 100%;
  }
}
.btn-inner {
  padding-bottom: 120px;
}

.btn {
  @extend%btn;
}

.colored {
  filter: grayscale(100%);
  transition: all 0.7s;
  &:hover {
    filter: grayscale(0);
    transition: all 0.7s;
  }
}

.portfolio {
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px 16px;
  padding-bottom: 64px;
}

.portfolio-wrap {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s;
  h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  }
  &:hover {
    background: none;
    h1 {
      transition: all 0.7s;
      transform: scale(1.1);
    }
  }
}

.portfolio__item {
  cursor: pointer;
  width: 100%;
  height: 256px;
  text-align: center;
  a {
    color: $default;
  }
  &:nth-child(1) {
    grid-row: span 2;
    height: 520px;
    h1 {
      width: 203px;
    }
  }
  &:nth-child(2) {
    h1 {
      width: 98px;
    }
  }

  &:nth-child(3) {
    grid-row: span 3;
    height: 792px;
    h1 {
      width: 251px;
    }
  }
  &:nth-child(4) {
    grid-row: span 2;
    height: 520px;
    h1 {
      width: 298px;
    }
  }
  &:nth-child(5) {
    h1 {
      width: 275px;
    }
  }
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  position: fixed;
  transition: all 0.5s ease-in-out;
}

.modalShow {
  opacity: 1;
  visibility: visible;
  overflow: auto;
  z-index: 9999;
}

.modal-fotorama {
  position: relative;
  padding: 48px 0 40px 0;
}

.fotorama {
  background-color: $default;
  overflow: visible;
  &__wrap {
    padding: 56px 105px 0 105px;
    position: static;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__nav__shaft {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__thumb-border {
    display: none;
  }

  &__stage {
    margin-bottom: 64px;
    position: relative;
    overflow: visible;
  }

  &__arr {
    width: 36px;
    height: 36px;
  }
  &__arr--prev {
    left: -114px;
    background: url('../images/icon/ArPrev.svg');
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background: url('../images/icon/ArPrev-hover.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__arr--next {
    right: -114px;
    background: url('../images/icon/ArNext.svg');
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background: url('../images/icon/ArNext-hover.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__fullscreen-icon {
    top: -40px;
    background: url('../images/icon/shere.svg');
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background: url('../images/icon/shere-hover.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.close {
  transition: all 0.3s;
  width: 32px;
  height: 32px;
  background: url('../images/icon/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50px;
  right: 0;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    opacity: 1;
    background: url('../images/icon/close-hover.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s;
  }
}

.link {
  transition: all 0.3s;
  width: 32px;
  height: 32px;
  background: url('../images/icon/link.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50px;
  left: 0;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background: url('../images/icon/link-hover.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s;
  }
}

.pogination {
  transition: all 0.5s;
  opacity: 1;
  position: absolute;
  bottom: 160px;
  left: 110px;
  color: #797979;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.fotorama--fullscreen .fotorama__stage {
  background-color: #ffffff;
  height: 100vh !important;
}

.fotorama--fullscreen .fotorama__fullscreen-icon {
  right: 0;
  background: url('../images/icon/noSher.svg');
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    background: url('../images/icon/noSher-hover.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.share-link {
  opacity: 0;
  transform: translateY(-50px);
  pointer-events: none;
  width: 44px;
  height: 224px;
  background-color: #2a2a2a;
  padding: 63px 6px 4px 6px;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.7s;

  &__sicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__images {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.7s;
    &:hover {
      transition: all 0.7s;
      background-color: $hover;
    }
  }
}

.share-close {
  width: 19px;
  height: 19px;
  background-image: url('../images/icon/close.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 12px;
  top: 11px;
  cursor: pointer;
  transition: all 0.7s;
  &:hover {
    transition: all 0.7s;
    background-image: url('../images/icon/close-shere-hover.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
}

.share-link--active {
  transition: all 0.7s;
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
  pointer-events: all;
}

.wrapper-about {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.about-info {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #171717;
  letter-spacing: 0.07em;
  flex-grow: 1;
  &__inner {
    padding: 0 204px 0 103px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 30px;
  }
  &__content {
    text-align: start;
    flex-basis: 592px;
    a {
      color: #171717;
      text-decoration: underline;
    }
  }
  &__img {
    width: 403px;
    height: 504px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding: 35px 12px !important;
    list-style: inside !important;
  }
  &__contact {
    font-family: 'Inter';
    font-style: normal;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $acsent;
    padding: 60px 0;
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 20px;
  }
  &__sub-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 44px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    margin-bottom: 20px;
    img {
      width: 27px;
      height: 22px;
    }
  }
  &__messages {
    text-decoration: underline;

    a {
      color: #ffffff;
      &:hover {
        color: #e7e7e7;
        transition: all 0.5s;
      }
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }
  &__social-item {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    &:hover {
      background-color: #e7e7e7;
      transition: all 0.5s;
    }
  }
}

.ar {
  position: absolute;
  bottom: 25px;
  left: 50%;
  animation-name: bounce-1;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px 12px;
  padding-bottom: 104px;
  &__images {
    width: 100%;
    height: 440px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.7s;
    &:hover {
      scale: 0.9;
      transition: all 0.7s;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.breadcrumbs {
  margin-bottom: 77px;
  &__inner {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #797979;
    margin-left: 5px;
    transition: all 0.7s;
    &:hover {
      color: $acsent;
      transition: all 0.7s;
      svg {
        path {
          fill: $acsent;
          transition: all 0.7s;
        }
      }
    }
    &:active {
      color: #414141;
    }
  }
}

.delete-block {
  display: none;
}

.menu-wrapper {
  display: none;
  position: absolute;
  top: 23px;
  left: 16px;
  width: $bar-width;
  height: $bar-height + $bar-spacing * 2;
  cursor: pointer;
  z-index: 999;
}

.menu-wrapper--portfolio {
  display: none;
  position: absolute;
  width: $bar-width;
  height: $bar-height + $bar-spacing * 2;
  cursor: pointer;
  z-index: 999;
  top: 6px;
  left: 5px;
}

.wrap-menu {
  display: none;
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: rgba(23, 23, 23, 0.8);
  border-radius: 50%;
  top: 16px;
  left: 0px;
  cursor: pointer;
  z-index: 999;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: $bar-width;
  height: $bar-height;
}

.hamburger-menu {
  position: relative;
  transform: translateY($bar-spacing);
  background: rgba(255, 255, 255, 1);
  transition: all 0ms 300ms;

  &.animate {
    background: rgba(255, 255, 255, 0);
  }
}

.hamburger-menu:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: $bar-spacing;
  background: rgba(255, 255, 255, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
  content: '';
  position: absolute;
  left: 0;
  top: $bar-spacing;
  background: rgba(255, 255, 255, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu--active {
  &::after,
  &::before {
    background: #797979;
  }
}

@import 'media';
