@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'media';
@import 'libs';

.header {
  display: block;
  margin-bottom: 56px;
  &__top {
    color: $acsent;
    width: calc(100% - 200px);
    margin: 0 auto;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 0;
  }
  &__top--index {
    padding-top: 72px;
    position: absolute;
    top: 0;
  }
  &__content {
    margin: 0 auto;
    position: absolute;
    bottom: 116px;
    margin-left: 100px;
    h1 {
      max-width: 505px;
      font-weight: 600;
      font-size: 48px;
      line-height: 59px;
      margin-bottom: 20px;
    }
    p {
      font-weight: 400;
      font-size: 32px;
      line-height: 39px;
    }
  }
}

.header--index {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 60px;
}

.header__slider-images {
  overflow: hidden;
  height: 100vh;
  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

.nav {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  ul {
    display: flex;
    align-items: center;
    gap: 40px;
    li {
      border-bottom: 1px solid transparent;
      cursor: pointer;
      padding: 10px 20px;
    }
  }
}

.nav-item {
  border-bottom: 1px solid transparent;
  &__link {
    color: $acsent;
  }
  &__link--index {
    color: #ffffff;
  }
  &:after {
    display: block;
    content: '';
    border-bottom: 1px solid $acsent;
    transform: scaleX(0);
    transition: transform 350ms ease-in-out;
  }
  &:hover:after {
    transform: scaleX(1);
  }
}
.nav-item--index:after {
  border-bottom: 1px solid $default;
}

.nav-item--active {
  border-bottom: 1px solid $acsent !important;
  &:hover:after {
    transform: scaleX(0);
  }
}

.nav-item-index--active {
  border-bottom: 1px solid $default !important;
  &:hover:after {
    transform: scaleX(0);
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 28px;
  &__item {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $acsent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s;
    &:hover {
      cursor: pointer;
      background-color: $hover;
      transition: all 0.7s;
    }
  }
}

.grid-gallery {
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 20px;
  margin-bottom: 124px;
  &__images {
    position: relative;
    height: 600px;
    overflow: hidden;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.grid-gallery__images:nth-child(5) {
  grid-column: span 2;
  width: 100%;
  img {
    width: 100%;
  }
}
.grid-gallery__images:nth-child(9) {
  grid-column: span 2;
  width: 100%;
  img {
    width: 100%;
  }
}
.grid-gallery__images:nth-child(11) {
  grid-column: span 3;
  width: 100%;
  img {
    width: 100%;
  }
}
.grid-gallery__images:nth-child(13) {
  grid-column: span 2;
  grid-row: span 2;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
  }
}
.grid-gallery__images:nth-child(15) {
  grid-column: span 2;
  width: 100%;
  img {
    width: 100%;
  }
}
.grid-gallery__images:nth-child(20) {
  grid-column: span 3;
  width: 100%;
  img {
    width: 100%;
  }
}

.btn {
  @extend%btn;
}

.colored {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.7s;
  &:hover {
    opacity: 100%;
    transition: 0.7s;
  }
}

.portfolio {
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px 16px;
  padding-bottom: 64px;
}

.portfolio-wrap {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s;
  h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
  }
  &:hover {
    background: none;
    h1 {
      transition: all 0.7s;
      transform: scale(1.1);
    }
  }
}

.portfolio__item {
  cursor: pointer;
  max-width: 403px;
  height: 256px;
  text-align: center;
  &:nth-child(1) {
    grid-row: span 2;
    height: 520px;
  }

  &:nth-child(3) {
    grid-row: span 3;
    height: 792px;
  }
  &:nth-child(4) {
    grid-row: span 2;
    height: 520px;
  }
}
